In [1]:
# Import libraries for data manipulation
import pandas as pd
import numpy as np
from sklearn import tree

In [2]:
# Import data from csv file
original_data = pd.read_csv('../source_data/housing_data_cleaned.csv')

df = original_data.select_dtypes(exclude=object)
df.head()

,id,census_tract,depth,exempt_building,exempt_land,exterior_condition,fireplaces,frontage,garage_spaces,geographic_ward,...,number_of_rooms,number_stories,quality_grade,sale_price,taxable_building,taxable_land,total_area,total_livable_area,year_built,zip_code
0,1,241,67.0,49200,0,4,0,14.00,0,59,...,8,3,NaN,90000,78887,22513,938.00,1344,1895,19144
1,2,201,70.0,0,0,4,0,14.91,0,13,...,6,2,NaN,52500,40800,7200,1044.00,1190,1940,19140
2,3,281,95.5,0,0,4,0,17.66,1,17,...,6,2,NaN,154000,88400,15600,1686.53,1633,1940,19141
3,4,293,112.5,0,0,4,0,19.25,0,23,...,6,2,NaN,65900,53986,11214,2165.62,1320,1940,19124
4,5,62,79.0,0,0,4,0,16.00,0,40,...,6,2,NaN,47000,56185,9915,1264.00,960,1920,19142

In [3]:
# Analyze houses that are under $1,000,000
df = df.loc[df['sale_price'] < 1000000, :]

In [4]:
data = df.copy()

In [5]:
# Select categorical data values and reshape to arrays
# sig_columns = ['market_value','number_of_rooms','total_livable_area']
X = data.drop(['sale_price', 'depth','frontage','interior_condition','market_value_date','quality_grade','total_area'], axis=1)
# X = data[sig_columns]
y = data['sale_price'].values.reshape(-1, 1)

print(X.shape)
print(y.shape)

(67367, 18)
(67367, 1)

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

/Users/anthonycarannante/opt/anaconda3/envs/PythonAdv/lib/python3.6/site-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until